.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 476px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 476px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1340px;
    max-width: 100%;
  }
}

.max-1010 {
  max-width: 1010px;
}

.pt-10p {
  padding-top: 10%;
}
.pb-10p {
  padding-bottom: 10%;
}


.mb-15 {
  margin-bottom: 60px !important;
}
$primary: #f1f2f5;
$gray: #EFEFEF;
.bg-primary {
  background-color: $primary;
}

.bg-gray {
  background-color: $gray;
}

.cursor-pointer {
  cursor: pointer;
}

$white: #ffffff;
$black: #000000;

$neutral-1: #FFFFFF;
$neutral-2: #F1F2F5;
$neutral-3: #E3E4EA;
$neutral-4: #DADBE1;
$neutral-5: #B7BAC0;
$neutral-6: #78797D;
$neutral-7: #191A1B;


$primary-1: #3175FA;
$primary-2: #DCECFF;
$primary-3: #2465E3;

$secondary-1: #FBBB1E;
$secondary-2: #E3A200;

$error: #F64331;
$success: #38D600;
$warning: #F2BD02;

$file-1: #DF5A3C;
$file-2: #4F8BFF;

$navy: #37455a;
$blue: #abbdd3;
$cyan: #a3d9cb;
$peach: #ff9d7a;
$colors: (
  'white': $white,
  'black': $black,
  // neutral
  'neutral-1': $neutral-1,
  'neutral-2': $neutral-2,
  'neutral-3': $neutral-3,
  'neutral-4': $neutral-4,
  'neutral-5': $neutral-5,
  'neutral-6': $neutral-6,
  'neutral-7': $neutral-7,
  // primary
  'primary-1': $primary-1,
  'primary-2': $primary-2,
  'primary-3': $primary-3
);

@mixin gen-props($prefix, $property) {
  @each $color-name, $color in $colors {
    .#{$prefix}-#{$color-name} {
      #{$property}: $color
    }
  }
}

@include gen-props('text', 'color');
@include gen-props('bg', 'background-color');
@include gen-props('border', 'border-color');


// global class
.task-dp {
  .dp-item {
    display: flex;
    align-items: center;
    .title {
      font-size: 16px;
      font-weight: 500;
    }
    .desc {
      font-size: 12px;
      font-weight: 400;
    }
  }

  .dp-item-img {
    flex-shrink: 0;
    margin-right: 24px;
  }
}

.task-page {
  .doc-form {
    .ant-form-item-label label {
      // font-size: 20px;
    }
  }
}

.pdf-drawer {
  .ant-drawer-title {
    font-size: 14px;
    color: $neutral-5;
    font-weight: 400;
  }
  .ant-drawer-content-wrapper {
    box-shadow: 0px 0px 20px rgba(25, 26, 27, 0.15) !important;
  }
  // .ant-drawer-mask {
  //   background-color: transparent;
  // }
}

.signSampleDom {
  width: 95px;
  height: 35px;
  border-radius: 8px;
  background-color: #4F8BFF;
  position: fixed;
  z-index: 20000;
  top:0;

  .sign-cursor-hint {
    position: absolute;
    top: 35px;
    font-size: 14px;
    color: #4F8BFF;;
  }
}